<link rel="stylesheet" href="style.css" />
    <div class="spacer">" "</div>

    <div class="result--card correctCard">
        <div class="card card-tiny">
            <p><span>Question <slot name="question-order"></slot></span> <slot name="question"></slot></p>
        </div>
        <div class="answer--flag answer--flag-correct">
            <h1>correct</h1>
        </div>
    </div>

    <div class="result--card incorrectCard">
        <div class="card card-tiny">
            <p><span>Question <slot name="question-order"></slot></span> <slot name="question"></slot></p>
        </div>
        <div class="answer--flag answer--flag-incorrect">
            <h1>Incorrect</h1>
        </div>
    </div>

    <div class="result--card unansweredCard">
        <div class="card card-tiny">
            <p><span>Question <slot name="question-order"></slot></span> <slot name="question"></slot></p>
        </div>
        <div class="answer--flag answer--flag-unanswered">
            <h1>Unanswered</h1>
        </div>
    </div>