<link rel="stylesheet" href="style.css" />
<div class="app-container">

    


    <p>
        Hello and welcome to the Quiz app,
        The subject of the quiz is <slot name="quizSubject"></slot>, the quest contains <slot name="questionCount"></slot> questions.
    </p>
    <p>You can see how well you are doing by clicking the <b>Summary</b> button at the top of the
        page.</p>.
    <p>To return to the quiz and resume answering questions click the <b>Questions</b> button.</p>

   
        <h1 id="button-begin" name="quiz-app" class="card">Begin Quiz</h1>

</div>