:root {
    --white: #E7E7E7;
    --dark-blue: #217CC7;
    --light-blue: #95E7E9;
    --yellow: #FEBB3B;
    --red: #FE767C;
    --black: #0E0E34;
    --green: #85BD2D;

    --section-top-border: 4px;
    font-size: 24px;


}
body {
    color: var(--black);
}

.spacer {
    width: 25px;
    height: 25px;
    margin-bottom: 4rem;
}

.app-nav {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 3rem;
    background-color: var(--white);
    z-index: 1;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.68); 
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.68);
    
}
.app-nav ul {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-content: center;
    list-style: none;
    width: 80%;
    height: 3rem;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    
}
.app-nav ul li {
    border-bottom: var(--section-top-border) solid var(--dark-blue);    
    margin: 0 auto;
    width: fit-content;
}
.app-nav li a {
    text-decoration: none;
    padding-right: 1rem;
    
}

.app-nav li a:link {color: var(--black);}  
.app-nav li a:visited {color: var(--black);}  
.app-nav li a:hover {color: var(--light-blue)}  
.app-nav li a:active {color: var(--yellow)}  


.app-container {
    display: flex;
    flex-direction: column;
    margin: 8rem auto;
    width: 80vw;
}
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.quiz-container {
    display: flex;
    flex-direction: column;
    width: 45%;
}


.info-container {
    
    display: flex;
    flex-direction: column;
    width: 45%;
}

#button-begin {
            height: 5rem;
            width: fit-content;
            margin-top: 2rem;
            font-size: 3rem;
            padding: 1rem 2rem 1rem 2rem;
            color: var(--dark-blue);
}

 .modalContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(121, 200, 231, 0);
        z-index: 1;
    }

.confirmModal {
        opacity: 1;
        background-color: var(--white);
        position: fixed;
        top: 12rem;
        left: calc(50vw - 12.5vw);
        width: 25vw;
        height: fit-content;
        border-radius: 1.8px;
        -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.68);
        }
    .confirmModal h3 {
        
        padding-left: 2rem;
    }
    .confirmModal p {
        margin: 0 auto;

        padding-left: 2rem;
    }
    .confirmModal h2 {
        margin: 0 auto;
        width: fit-content;
    }
    .confirm--buttons {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 3rem;
    }

    .button-no {
        background-color: var(--red);
        flex: 1;
        height: 2.5rem;
        margin-left: 1rem;
        font-size: 1.6rem;
        margin-right: 1rem;
    }
    .button-yes {
        background-color: var(--green);
        flex: 1;
        height: 2.5rem;
        margin-right: 1rem;
        font-size: 1.6rem;

    }




#button-begin {
    width: fit-content;
    height: fit-content;
}
@media (max-width: 1255px) {
    .app-container {
        display: flex;
        flex-direction: column;
        width: 80vw;
        margin: 4rem auto;
    }
    
    .app-container p {
        margin: 0;
    }
    .app-container p:first-of-type {
        margin-top: 1rem;

    }
    .app-container p:not(:first-child) {
        margin-top: 1rem;
    }
    #button-begin {
        font-size: 1.4rem;
    }
    .app-nav ul {
        width: 100%;
    }
    
    .quiz-container {
    width: 100%;
    }
    .info-container {
    width: 100%;
    }
}

.card {

    border-radius: 1.3px;
    color: var(--black);
    height: fit-content;
    background-color: var(--white);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.68); 
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.68);
    display: flex;
    
}

.result--card {
    display: flex;
    flex-direction: row;
    width: 70vw;
    flex-wrap: wrap;

    padding: 0;
    margin: 0 auto;
    
}
.answer--flag {
    margin: 0;
    margin-bottom: 1rem;

    width: 12rem;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.68); 
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.68);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    width: 70vw;
}
.answer--flag h1 {
    font-weight: normal;
    width: fit-content;
}
.answer--flag-correct {
    background: var(--green);
    
}
.answer--flag-incorrect {
    background: var(--red);
    
}
.answer--flag-unanswered {
    background: var(--dark-blue);
}


.card span {
    color: var(--dark-blue);
}
.card p {
    padding: 1rem;
    /* padding: 0.4rem 1rem 0.4rem 0.6rem; */
}

.card-tiny {
    margin: 1rem 0 0rem 0;
    width: 70vw;
}

.card--background-color-yellow {
    background-color: var(--yellow) !important;

}
.card--background-color-blue {
    background-color: var(--dark-blue) !important;

}
.card--background-color-green {
    background-color: var(--green) !important;

}
.card--background-color-red {
    background-color: var(--red) !important;

}

.question {
    grid-area: question;
    margin-bottom: 1.2rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    

}

.question h1 {
    color: var(--dark-blue);
    margin: 0.8rem 0 0 0.8rem;
    font-size: 1rem;
}
.question p {
    padding: 0.4rem 1rem 0.3rem 1rem;
}

.quiz-container {
    border-top: var(--section-top-border) var(--light-blue) solid;
    margin: 0rem 1rem 0rem 1rem;

}


.info-container {
    grid-area: info;
    display: flex;
    flex-direction: column;
    margin: 0rem 1rem 0rem 1rem;
    border-top: var(--section-top-border) var(--yellow) solid;
}


.navigation {

    border-top: var(--section-top-border) var(--green) solid;
    padding-top: 2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;

}

.navigation * {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 13rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
}

.forward {
    border-right: 8px var(--green) solid;
        

    
}

.back {
    border-left: 8px var(--dark-blue) solid;
}

.answers {
    display: flex;
    flex-direction: column;
}


.answer-summary {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}


.anser-summary .card {
    height: 10%;
}
.answer-summary .card p {
    width: 500px;
}

.answer {
    margin-bottom: 2rem;
}

.modalContainer {
    display: block;
}

